button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
textarea{overflow:auto;vertical-align:top;}
label,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:normal;\
}
input,textarea,select,.uneditable-input{display:inline-block;width:210px;height:px;padding:4px;font-size:13px;line-height:18px;color:#808\
080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
textarea{height:auto;}
input,select,textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0\
.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1p\
x 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:none;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8p\
x rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px r\
gba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
form div.error input,form div.error textarea{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 \
3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}form div.error input:focus,form div.error textarea:focus{border-c\
olor:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171\
, 41, 32, 0.5);}
form div.error input,form div.error textarea{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 \
3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}form div.error input:focus,form div.error textarea:focus{border-c\
olor:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171\
, 41, 32, 0.5);}
.input-mini,input.mini,textarea.mini,select.mini{width:60px;}
.input-small,input.small,textarea.small,select.small{width:90px;}
.input-medium,input.medium,textarea.medium,select.medium{width:150px;}
.input-large,input.large,textarea.large,select.large{width:210px;}
.input-xlarge,input.xlarge,textarea.xlarge,select.xlarge{width:270px;}
.input-xxlarge,input.xxlarge,textarea.xxlarge,select.xxlarge{width:530px;}
textarea.xxlarge{overflow-y:scroll;}
input[readonly]:focus,textarea[readonly]:focus,input.disabled{background:#f5f5f5;border-color:#ddd;-webkit-box-shadow:none;-moz-box-shado\
w:none;box-shadow:none;}

.prose {
min-width: 100%;
max-width: 650px;
min-height:50%;
background-color:;
border:none;
resize:both;
color:;
font-family: 'helvetica';
font-weight: lighter;
}

#body_text {
-webkit-appearance: none;
}

textarea:focus{
border-color:white;
border:none;
-webkit-box-shadow:0 0 0px rgba(171, 41, 32, 0.5);
-moz-box-shadow:0 0 0px rgba(171, 41, 32, 0.5);
box-shadow:0 0 0px rgba(171, 41, 32, 0.5);
}

#writing {
background-color:white;
text-align: center;
}

.input {
min-width: 100%;
min-height:60px;
background-color:white;
opacity:0.9;
filter:alpha(opacity=90); /* For IE8 and earlier */
border:white;
resize:both;
color: black;
font-family: 'helvetica';
font-weight: lighter;
font-size:50px;
}

.white {
color:white;
}