header {
height:60px;
}

.error {
color:#08C;
}

/* used in the settings page*/
.dd {
color:#08C;
cursor:pointer;
}

.signupform {
clear:both;
margin-left:auto;
margin-right:auto;
width:250px;
}

#home2 {
margin-top:100px;
}

.logo {
margin-left:40px;;
margin-bottom:30px;
background:rd;
}

.signupbutton {
margin-left:80px;
}

.explainer {
margin-left:300px;
}

.center {
text-align:center;
}

/* motto div on write.html*/
#motto {
min-height:120px;
}

.write_page_center {
width:600px;
margin-left:auto;
margin-right:auto;
text-align:center;
}

#footer {
width:800px;
margin: 0px auto;
text-align:center;
margin-top:50px;
}

footer li {
display:inline;
padding:10px;
}

#home_login_form {
float:right;
margin-top:-50px;}

.login_input {
width:100px;
}

#home_main {
clear:both;
}

.right {
float:right;
}

.clear {
clear:both
}


/* SETTINGS */

#settings_banner {
background:rd;
margin-top:15px;
}

#goals {
margin-top:20px;
}

#writing_goals {
background:blu;
float:left;
}

#coding_goals {
background:gree;
float:right;
}

#settingsmotto {
width:800px;
}

#settings_button {
width:200px;
margin-top:30px;
}

.pointer {
cursor:pointer;
}

/* ENTRIES */
#entry_list {
margin-top:40px;
}

#entry_dashboard {
margin-bottom:20px;
margin-top:20px;
}

#words_written {
background:#E0E4CC;
border-radius:10%;
min-height:130px;
}

#entry_count {
background:#E0E4CC;
border-radius:10%;
min-height:130px;
}

.circle {
border-radius: 50%;
width:200px;
height:200px;
background:#08C;
}


.count_number {
font-size:60px;
margin-top:40px;
margin-bottom:15px;
}

/* ABOUT.HTML */
.about {
width:455px;
margin: 0px auto;
margin-top:5px;
}