#home_main {
background:red;
}

/* motto div on write.html*/
#motto {
min-height:70px;
}

#footer {
width:800px;
margin: 0px auto;
text-align:center;
margin-top:100px;
}

footer li {
display:inline;
padding:10px;
}