header {
height:60px;
}

.signupform {
margin-left:70px;
}

.signupbutton {
margin-left:80px;
}

.explainer {
margin-left:300px;
}

.center {
text-align:center;
}

/* motto div on write.html*/
#motto {
min-height:120px;
}

#footer {
width:800px;
margin: 0px auto;
text-align:center;
margin-top:50px;
}

footer li {
display:inline;
padding:10px;
}

#home_login_form {
float:right;
margin-top:-50px;}

.login_input {
width:100px;
}

#home_main {
clear:both;
}