{% extends 'footer.html' %}
{% load static %}
{% block page %}
<form id="home_login_form" method="post" action="/accounts/login/">
  {% csrf_token %}
  <input id="username_input" class="login_input" type="text" value="email" name="username" onFocus="clearUsernameBox()"/>
  <input id="password_input" class="login_input" type="password" value="password" name="password" onFocus="clearPasswordBox()"/>
  <input type="submit" value="login" />
<!--  <input type="hidden" name="next" value="{{ next }}" />-->
</form>

<div id="home_main" class="">
  <img src="{% get_static_prefix %}images/easel.png" class="offset3"/>

  <h1 class="about">About</h1>
    <p class="about">
<br/>

Steve Jobs called the personal computer a bicycle for the mind. The Internet is a motorcycle; it can take you farther, but it’s more dangerous. 

<br/><br/>
Having the world’s information at your fingertips is a powerful tool, but it renders the barriers to mindless consumption moot. You barely need lift a finger to have access to the world’s articles, videos, ideas and games. Increasingly, the promise of the web is freedom from boredom. The most talked about tools in Silicon Valley - Facebook, Pinterest, Twitter, Instagram - aren’t social, they’re anti-boredom.
<br/><br/>
Maybe boredom isn’t such a bad thing. Maybe boredom is why Homer wrote the Odyssey, or John Lennon first picked up a guitar. 
<br/><br/>
Today, the sirens we face are <a href="http://www.theonion.com/articles/report-90-of-waking-hours-spent-staring-at-glowing,2747/">glowing rectangles</a>. As Odysseus strapped himself to the mast of his ship to protect himself from the siren’s song, maybe we need a similar way to protect ourselves from the sirens of perpetual stimulation. 
<br/><br/>
Somewhere between grammar school, homework, bedtime and learning to drive rules got a bad reputation. But rules can make us mindful. They can give structure to our lives in a way that makes us more thoughtful. You don’t always have to follow your guidelines, but they provide helpful boundaries when you’re about to fall off of a cliff. Without guidelines it’s too easy to just wander around aimlessly; you can lose years. 
<br/><br/>
Blockr is meant to provide a nudge towards producing something, no matter how humble, before consuming information on the web. It’s just a guideline. You can disable it at anytime. But you're definitely going to have to think about it when you do. You'll stop and think, "Why is it okay to violate this guideline? What is important here?" If you have a good answer, then you can disable Blockr in peace. If not, it may gnaw at you a bit. And that's not a bad thing. 
<br/><br/>

    </p>
</div><!--closes home_main-->
<script type="text/javascript">
  function clearUsernameBox(){
    document.getElementById('username_input').value = "";
  };
  function clearPasswordBox(){
    document.getElementById('password_input').value = "";
  }
</script>

{% endblock page %}

