{% extends 'footer.html' %}
{% load static %}
{% block page %}
  <img src="{% get_static_prefix %}images/easel.png" class="offset3"/>


<div class="span6">
<h1>Settings</h1>

<form action="" method="post">
  {% csrf_token %}
  {{form.errors}}
  <label>Choose an inspirational motto or phrase like, 'always produce'</label>
  <input type="text" value="{{profile.motto}}" name="motto" />
  <br/>
  <label>How many unblocked hours of Internet access should you earn per creative goal?</label>
  <input type="text" value="{{profile.hours_per_goal}}" name="hours_per_goal" />
  <br/><br/>
  <h4>Writing Goals</h4>
  <label>How many words do you want to set as your creative goal?</label>
  <input type="text" value="{{profile.word_goal}}" name="word_goal"/>
  <br/><br/>
  <h4 class="dd">Coding Goals?</h4>
  <div class = "dropdown">
    <h6>If you'd like to set a creative goal for hacking, enter your github username and a goal for code commits:</h6>
    <label>Github username</label>
    <input type="text" value="{{profile.github_name}}" name="github_name" />
    <br/>
    <label>Commit goal</label>
    <input type="text" value="{{profile.commit_goal}}" name="commit_goal" />
  </div>
  <br/><br/>
  <input type="submit" value="Update" />
  
</form>
<br/><br/>
</div>
<div class="span4 right">
  <h4 class="center">To start blocking download in the Google Chrome Webstore:</h4>
  <a class="pointer center" href="https://chrome.google.com/webstore/detail/pdcnhbnkcbbkejnciobokdhmldndglld"><img src="{% get_static_prefix %}images/ChromeWebStore_Badge_v2_340x96.png" /></a>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.dropdown').hide();
    $('.dd').click(function() {
      $(this).next().slideToggle();
    });
  });    
</script>

{% endblock page %}


