{% extends 'footer.html' %}
{% load static %}
{% block page %}
  <img src="{% get_static_prefix %}images/easel.png" class="offset3"/>


<h1>Settings</h1>

<form action="" method="post">
  {% csrf_token %}
  {{form.errors}}
  <label>Pick a word goal</label>
  <input type="text" value="{{profile.word_goal}}" name="word_goal"/>
  <label>How many hours until you have to write again?</label>
  <input type="text" value="{{profile.hours_per_goal}}" name="hours_per_goal" />
  <br/><br/>
  <label>Choose an inspirational motto or phrase like, 'always produce'</lablel>
  <input type="text" value="{{profile.motto}}" name="motto"/>
  <br/>
  <label>Github username</label>
  <input type="text" value="{{profile.github_name}}" name="github_name" />
  <br/>
  <label>Pick a Commit Goal</label>
  <input type="text" value="{{profile.commit_goal}}" name="commit_goal" />
  <input type="submit" value="Update" />

</form>
<br/><br/>

    <a href="https://chrome.google.com/webstore/detail/pdcnhbnkcbbkejnciobokdhmldndglld"><img src="{% get_static_prefix %}images/ChromeWebStore_Badge_v2_340x96.png" /></a>

{% endblock page %}


