{% extends 'footer.html' %}
{% load static %}
{% block page %}
<div id="home_main" class="span4">
  <img src="{% get_static_prefix %}images/alwaysproduce.png" />
  <img src="{% get_static_prefix %}images/easel.png" class="offset3"/>

    <div class="signupform">
      <form action=""method="post" class="offset3">
	{% csrf_token %}
	{{form.errors}}
	<label class="">Email:</label>
	{{form.username}}
	<label class="">Password:</label>
	{{form.password}}
	<br/><br/>
	<input type="submit" value="Signup" class="signupbutton"/>
      </form>
    </div>
    <p class="span4 center explainer">
      Blockr is a Chrome Extension that lets you set creative goals and blocks you from the Internet until you've acheived them. <br/><br/>
      It was inspired by Paul Graham's <a href="http://www.paulgraham.com/love.html">How to Do What You Love.</a> <br/><br/>
      Produce more, consume less.
    </p>
</div><!--closes home_main-->
{% endblock page %}

