{% extends 'footer.html' %}
{% block page %}
<div id="" class="span12">
  <h1>Previous Entries</h1>
  <h4>A list of your previous writing. Click on an entry to edit or review.</h4>
<div id="entry_dashboard" class="span12">
  <div id="words_written" class="span3 offset1 center">
    <h3 class="count_number">{{words_written}}</h3>
    <h3>words written</h3>
  </div>
  <div id="entry_count" class="span3 center">
    <h3 class="count_number">{{entries|length}}</h3>
    <h3>entries written</h3>
  </div>
  <div id="entry_count" class="span3 center">
    <h3 class="count_number">{{profile.consecutive_days}}</h3>
    <h3>streak</h3>
  </div>
</div>

</div>
<div id="entry_list span12">
     {% if entries %}
     <ul class="clear">
       {% for entry in entries %}
       <li><a href="/{{entry.id}}">{{entry.text|truncatewords:20}}</a> -- {{entry.create_time}}</li>
       {% endfor %}
     </ul>
     {% else %}
     <h5>No entries written yet. <a href="/write/">Write something!</a></h5>
     {% endif %}
</div>
{% endblock page %}
