{% extends 'footer.html' %}
{% block page %}
<h1>Previous Entries</h1>
<h4>A list of your previous writing. Click on an entry to edit or review.</h4>
<h3>Words Written: {{words_written}}</h3>
<h3>Entries: {{entries|length}}</h3>

<div id="entry_list"
     {% if entries %}
     <ul>
       {% for entry in entries %}
       <li><a href="/{{entry.id}}">{{entry.text|truncatewords:20}}</a> -- {{entry.create_time}}</li>
       {% endfor %}
     </ul>
     {% else %}
     <h5>No entries written yet. <a href="/write/">Write something!</a></h5>
     {% endif %}
</div>
{% endblock page %}
