{% extends 'base.html' %}
{% load static %}
{% block page %}

<div id="motto">
<h1>{{profile.motto}}</h1>
<h4 class="error">{{message}}</h4>
</div>
<form action=""method="post">
  {% csrf_token %}
  {{form.errors}}
  <div id="writing">
    <textarea name="text" id="body_text" class="prose word_count" rows="20" cols="20" ></textarea>  
  </div><!--writing-->
  <div id="body_text_count" style="display:none"></div>
  <input type="submit" value="update" />
</form>
{% if profile.github_name != "" and profile.github_name != "None"  %}
<p>Click update if you have committed code and want to submit that instead of writing.</p>
{% endif %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/wordcount.js"></script>

<script type="text/javascript">
  function complete() {
  $('#motto').text("the cookie");
  };

$(document).ready(function() {
  $('h1').fadeOut(4000);
  $('h4').fadeOut(4000);
$(function () {
  $(window).load(function () {
$(':input:visible:enabled:first').focus();
  });
})
});

</script>

{% endblock page %}

